@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 1600px) {
    .section-1 {
        padding-top: 90px;
    }

    .top-sli-image img {
        max-width: 1000px;
    }

    .section-2 {
        padding: 80px 0;
    }

    .section-3 {
        padding: 80px 0;
    }

    .section-4 {
        padding: 70px 0;
    }

    .section-4 .single-1s2 {
        margin-bottom: 50px;
    }

    .top-sli-image {
        right: 0;
        top: 70px;
    }
}

@media only screen and (max-width: 1281px) {
}

@media only screen and (max-width: 1181px) {
    .row>* {
        width: 100%;
    }

    .top-sli-image {
        position: relative;
        right: 48%;
    }

    .top-sli-image img {
        width: 160%;
        height: auto;
    }

    .section-1 .top-slider-text {
        text-align: center;
        margin-top: 0;
    }

    .top-slider-text {
        text-align: center;
    }

    .top-links1 {
        position: fixed;
        background: #039f8c;
        top: 0;
        left: -400px;
        width: 300px;
        height: 100%;
        padding: 20px;
        transition: all ease .4s;
    }

    .section-2 {
        background-image: none !important;
    }

    .section-1 {
        padding: 150px 0px 100px;
        background-position: 0% 10%;
        background-size: 90% auto;
        background-image: none;
    }

    .section-3 {
        background-color: #eb4531;
        background-image: none !important;
    }

    .section-3 .top-slider-text {
        padding: 0;
    }

    .section-3 .top-slider-text h3 {
        line-height: 1.7;
        margin: 20px auto;
    }

    .section-5 {
        background-position: center right;
        padding: 50px;
    }

    div#footermenu {
        text-align: center;
    }

    .footer-logo {
        text-align: center;
        margin: 0 0 20px 0;
    }

    div#footermenu>div>ul>li {
        display: block;
    }

    div#footermenu>div>ul>li>a {
        padding: 0;
        height: 30px;
        line-height: 30px;
        display: block;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    footer {
        padding-bottom: 30px;
    }

    span.responsivemenubtn {
        display: block;
        box-shadow: 0 0 0 2px #039f8c;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        top: -15px;
        right: 0;
        background: #fff;
        padding-top: 12px;
    }

    .logo {
        width: 100%;
        margin: 20px 0;
    }

    span.responsivemenubtn i.bar {
        background: #039f8c;
        width: 30px;
        height: 2px;
        display: block;
        transition: all ease .4s;
        margin: 5px auto;
        position: relative;
    }

    span.responsivemenubtn.open i.bar {
        transform: rotate(45deg);
        top: 7px;
    }

    span.responsivemenubtn.open i.bar:last-child {
        transform: rotate(-45deg);
        top: -7px;
    }

    span.responsivemenubtn.open i.bar:nth-child(2) {
        opacity: 0;
    }

    .top-links1.open {
        left: 0;
    }

    div#access {
        margin: 0 0 40px 0;
    }

    div#access>div>ul>li>a {
        margin: 0;
        display: block;
        padding: 0;
        height: 50px;
        line-height: 50px;
        color: #fff;
    }

    #access .menu-header li, div.menu li {
        float: none;
    }

    .writetous .dskbtn-outline {
        color: #fff;
        margin: 0 0 0 0;
        box-shadow: 0 0 0 2px #fff inset;
    }

    .page-2-section-1 .top-slider-text2 h1 {
        font-size: 28px;
        line-height: 1.2;
    }

    .page-2-section-1 .top-slider-text2 h3 {
        font-size: 20px;
    }

    .page-2-section-1 .top-slider-text2 p {
        font-size: 18px;
    }

    .page-2-section-1 .top-slider-text2 p br {
        display: none;
    }

    .top-sli-image2 img {
        max-width: 100%;
        height: auto;
    }

    .top-slider-stats ul {
        display: block;
    }

    .top-slider-stats ul li {
        padding: 10px 0;
    }

    .page-2-section-1 {
        padding: 150px 0 20px;
        min-height: auto;
    }

    .page-2-section-1:before {
        height: 65%;
    }

    img, svg {
        max-width: 100%;
        height: auto;
    }

    .top-slider-text h2 {
        font-size: 35px;
        line-height: 1.4;
    }

    .top-slider-text h3 {
        font-size: 15px;
    }

    .top-slider-stats22 ul {
        display: block;
    }

    .top-slider-stats22 ul li {
        padding: 0 0 0;
        margin: 0 0 70px 0;
    }

    .top-slider-stats22 ul li:last-child {
        margin: 0 0 0 0;
    }

    .section-5 .top-slider-text {
        margin-top: 0;
    }

    .dskbtn-outline img {
        filter: invert(0);
    }

    header.header.lighttheme.fixeds div#access>div>ul>li>a {
        color: #fff;
    }

    header.header.lighttheme.fixeds .dskbtn-outline img {
        filter: invert(0);
    }

    header.header.lighttheme.fixeds .dskbtn-outline {
        box-shadow: 0 0 0 2px #fff inset;
        color: #fff;
    }

    .top-sli-imagemobile {
        display: block;
        margin: 0 0 0;
    }

    .top-sli-imagemobile > img {
        margin: 0 0 40px;
        max-width: 100%;
        position: relative;
        z-index: 0;
    }

    .priceingbox {
        margin-top: 50px;
    }

    .nav-tabs .nav-link {
        padding: 20px;
    }

    .single-price-table-tab {
        min-height: auto;
        margin: 0 0 50px 0;
    }

    .pricing-cta-section > div {
        padding: 40px;
    }

    .pricing-cta-section-text-2 {
        padding: 0;
        margin: 40px auto 0;
        max-width: 500px;
    }

    .top-slider-text ul {
        text-align: left;
    }

    .top-sli-imagemobile {
        text-align: center;
    }

    .top-sli-image2 img {
        max-width: 100%;
    }

    .section-4.page-2-section-3 {
        padding-bottom: 0;
    }

    .top-slider-text p:last-child {
        margin-bottom: 20px;
    }
    .top-sli-image.hidemobile {
        display: none;
    }
    div#accordionExample {
        display: block;
    }
    #myTab {
        display: none;
    }
    .tab-content {
        display: none;
    }
    div#collapseTwo .pricing-table-tapri .col-md-3 {
        width: 50%;
    }

    div#collapseTwo .pricing-table-tapri .col-md-3 p {
        margin: 0 0 20px 0;
    }
    .home-social-icons {
    text-align: center;
    display: block;
}

.home-social-icons a {
    margin: 0 7px 0;
    display: inline-block;
    width: 90px;
}
.home-social-icons.only-two-icons a {
    margin: 0 7px 0;
    display: inline-block;
    width: 500px;
}
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 637px) {
    .section-1 .top-slider-text {
        margin-top: 0;
    }

    .pricing-cta-section-text-2 > h2 {
        padding: 20px 20px;
        font-size: 40px;
    }

    .pricing-cta-section > div {
        padding: 30px;
    }
    
    div#collapseTwo .pricing-table-tapri .col-md-3 {
        width: 100%;
    }
    .accordion-body .single-tab-content12a h2 {
        font-size: 33px;
        margin: 30px 0 0 0;
    }

    .accordion-body .single-tab-content12a h5 {
        font-size: 14px;
    }
    .home-social-icons a {
    margin: 0 0 35px;
    display: inline-block;
    width: 49%;
}
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 382px) {
}

@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
